
# Server
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL="postgresql://postgres:PASSWORD@localhost:5432/DB_NAME?schema=public"

# Authentication
JWT_SECRET=""
JWT_EXPIRES_IN=7d

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=30d

# Client/Frontend
CLIENT_URL=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


# Email
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
EMAIL_FROM=


# Google Maps
GOOGLE_MAPS_API_KEY=